.form-title {
    margin-top: 9rem;
    margin-bottom: 5rem;
}

.input-group {
    margin-bottom: 0;
}

.input-group label {
    margin-bottom: 1rem;
}

.input-group input {
    margin-bottom: 2rem;
}

.side-by-side {
    display: flex;
    gap: 4rem;
}

.select {
    width: 100%;
    margin-bottom: 1rem;
}