/*****************************/
/* HEADER */
/*****************************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.logo {
    height: 4.9rem;
}


/*****************************/
/* NAVIGATION */
/*****************************/
.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 3rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #0058f9;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 2.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #0F0FC2;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #0058f9;
}


/*****************************/
/* MOBILE NAVIGATION */
/*****************************/
.btn-mobile-nav {
    border: none;
    cursor: pointer;

    background-color: transparent;
    display: block;
    z-index: 1000;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

.main-nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;

    /* Encorder navegação */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
}

.nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
}

/*****************************/
/* HOME SECTION */
/*****************************/
.home-text-box,
.home-img-box {
    text-align: center;
}

.section-home {
    background-color: #fff;
    padding: 2.4rem 0 6.4rem 0;
}

.home {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 6.4rem;
}

.home-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.home-img {
    width: 100%;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
    margin: 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    color: #5939ed;
    font-weight: 700;
}

/*****************************/
/* FOOTER */
/*****************************/
.footer {
    background-color: #fff;
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}

.grid--footer {
    grid-template-columns: repeat(6, 1fr);
}

.nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.logo-col,
.address-col {
    grid-column: span 3;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto; 
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #555;
}